<!-- Alert -->
<div class="{{page.cssClass}}" *ngIf="page.message" style="position: fixed; top: 0; left:0px; width: 100%; text-align: center">
        <span>
            {{page.message}}
            <span aria-hidden="true" (click)="cancelPopUp()" style="float: right;padding-left: 20px; cursor: pointer;"><i class="fa fa-times-circle-o"></i></span>
        </span>
</div>
<!-- Alert End-->

<form class="floating-labels" role="form" id="Registration" #registerForm="ngForm" (ngSubmit) = "onSubmit()">
  <h3 class="box-title m-b-15">Employee Sign Up</h3>
  <div class="form-group">
    <div class="col-xs-12">
      <label>First Name*</label>
      <input class="form-control" type="text" name="firstname" #firstname="ngModel" [(ngModel)]="employee.firstName" required>
      <small class="error" id="firstName"></small>
      <span class="bar"></span>
      <div *ngIf="!firstname.valid && firstname.touched">
        <small class="error" *ngIf="firstname.errors.required">First name is required.</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <label>Last Name*</label>
      <input class="form-control" type="text" name="lastname" #lastname="ngModel" [(ngModel)]="employee.lastName" required>
      <small class="error" id="lastName"></small>
      <span class="bar"></span>
      <div *ngIf="!lastname.valid && lastname.touched">
        <small class="error" *ngIf="lastname.errors.required">Last name is required.</small>
      </div>
    </div>
  </div>
  <div class="form-group ">
    <div class="col-xs-12">
      <label>Email*</label>
      <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
             pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required>
      <small class="error" id="email"></small>
      <span class="bar"></span>
      <div *ngIf="!email.valid && email.touched">
        <small class="error" *ngIf="email.errors.required">Email is required.</small>
        <small class="error" *ngIf="email.errors.pattern">Email is not valid.</small>
      </div>
    </div>
  </div>
  <div class="form-group ">
    <div class="col-xs-12">
      <label>Password*</label>
      <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
      <small class="error" id="password"></small>
      <span class="bar"></span>
      <div *ngIf="password.touched">
        <small class="error" *ngIf="user.password.length > 0 && user.password.length < 8">Weak password.</small>
        <small class="warn" *ngIf="user.password.length >= 8 && user.password.length < 12">Medium password.</small>
        <small class="success" *ngIf="user.password.length >= 12">Strong password.</small>
      </div>
      <div *ngIf="!password.valid && password.touched">
        <small class="error" *ngIf="password.errors.required">Password is required.</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <label>Confirm Password*</label>
      <input class="form-control" type="password" name="confirmpassword" #confirmpassword="ngModel" [(ngModel)]="user.password_confirmation"  required>
      <small class="error" id="password_confirmation"></small>
      <span class="bar"></span>
      <div *ngIf="!confirmpassword.valid && confirmpassword.touched">
        <small class="error" *ngIf="confirmpassword.errors.required">Confirmation required.</small>
      </div>
      <div *ngIf="confirmpassword.touched">
        <small class="error" *ngIf="validationForm.checkPassword(user.password, user.password_confirmation)">Password is not match with your entry. Please enter again..</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <label>Phone Number*</label>
      <input class="form-control" type="text" minlength=10
             name="mobile" #mobile="ngModel" [(ngModel)]="employee.mobile"
             required>
      <small class="error" id="mobile"></small>
      <span class="bar"></span>
      <div *ngIf="!mobile.valid && mobile.touched">
        <small class="error" *ngIf="mobile.errors.required">Phone number is required.</small>
        <small class="error" *ngIf="mobile.errors.minlength">Minimum 10 digit required.</small>
        <small class="error" *ngIf="validationForm.isReallyNumber(employee.mobile)">Please enter numbers.</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12" style="padding-left: 0px;">
      <div class="checkbox checkbox-success p-t-0">
        <input id="checkbox-signup" type="checkbox" required name="checkboxTerm" [(ngModel)]="checkboxTerm" class="filled-in chk-col-light-blue">
        <label for="checkbox-signup"> I agree to all <a href="javascript:void(0)">Terms</a></label>
      </div>
      <small class="error" *ngIf="!checkboxTerm">Please click the check box.</small>
    </div>
  </div>
  <div class="form-group text-center" *ngIf="!page.loader" style="margin-top: 10px;">
    <div class="col-xs-12">
      <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
              [disabled] = "!registerForm.form.valid && !checkboxTerm">Sign Up</button>
    </div>
  </div>
  <div class="loader" *ngIf="page.loader"></div>
</form>